.BlogCard {
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(201, 191, 191);
    background-color: aquamarine;
    font-size: 24px;
  }

  .BlogCard > button {
    font-size: 24px;
  }

  .likeCount {
    font-size: 28px;
    font-weight: 600;
  }

  @media (min-width: 992px) {
      .BlogCard {
        width: 45%;
        display: inline-block;
      }
  }
  